# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Docker
# Ignore Docker runtime data but not configuration files
docker-compose.override.yml
*.dockerignore
*.tmp

# Optional IDE/editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Test coverage
coverage/

# Optional temp files
*.swp
*.swo
